/*******************************************************************************************
                                    MAIN
*******************************************************************************************/
html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-repeat:no-repeat;
  background-size:100% 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  text-shadow: 1px 1px 2px black;
}

body:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background: url('../public/photos/svgs/layered-peaks.svg') no-repeat 50% 50%;
  background-size: cover;
}

li {
  list-style: none;
  margin-left: -2em;
}

.nonchalant {
  text-decoration: none;
  color: white;
}

.right-space {
  padding: 1em 3em 2em 0;
}

.right-spacer {
  padding: 0em 8em 2em 0;
}

.card {
  background-color: rgb(245, 115, 10);
}

.card-group {
  margin-left: 3.5em;
  margin-top: 5em;
}

.radius {
  border-radius: 50%;
  border: 2px solid salmon;
}

.round_thumb {
  border-radius: 50%;
}

.round_tiny_thumb {
  width: 15%;
  height: auto;
  border-radius: 50%;
  margin: auto;
}

.oval_thumb {
  border-radius: 50%;
  width: 45%;
  margin: auto;
}

.spacer {
  width: 10%;
}

.round_thumb_loader {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 15em;
  height: 15em;
}

.oval_thumb_loader {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 25em;
  height: 12.5em;
}

.smaller_img {
  max-width: 50%;
  max-height: auto;
  opacity: 90%;
  border: 1px solid rgb(245, 115, 10);
}

.smaller_img:hover {
  opacity: 100%;
}

.xxxs_socials {
  min-width: 45%;
  max-width: 50%;
}

.xxs_socials {
  min-width: 40%;
  max-width: 45%;
}

.xs_socials {
  min-width: 35%;
  max-width: 40%;
}

.xl_socials {
  min-width: 30%;
  max-width: 35%;
}

.lg_socials {
  min-width: 38%;
  max-width: 43%;
}

.md_socials {
  min-width: 22%;
  max-width: 27%;
}

.sm_socials {
  min-width: 30%;
  max-width: 35%;
}

.socials {
  min-width: 10%;
  max-width: 10%;
}



/*******************************************************************************************
                                    ANIMATION
*******************************************************************************************/

.fly_left {
  animation: fly-left ease-in-out .7s forwards;
}

@keyframes fly-left {
  from {
      transform: translateX(35vw);
  }
  to {
      transform: translateX(0vw);
  }
}

.fly_up {
  animation: fly-up ease-in-out .7s forwards;
}

@keyframes fly-up {
  from {
      transform: translateY(50vh);
  }
  to {
      transform: translateY(0vh);
  }
}

.animate {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 768px) {


  

}